body {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1920px;
  padding: 0 1rem;
  margin: 0 auto;
}

.top__header {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
}
.top__menu {
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  text-transform: uppercase;
}

.content {
  position: relative;
}
.content__video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  width: 1024px;
  height: 1024px;
  border-radius: 50%;
}
.content__video:after {
  content: "";
  padding-bottom: 100%;
  display: block;
}
.content__video-block {
  position: relative;
  height: 868px;
}
.content__text-block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 525px;
  height: 525px;
  border-radius: 50%;
  background-color: white;
  padding-top: 64px;
}
.content__text-block_title {
  position: absolute;
  top: calc(50% - 205px);
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  text-align: left;
  text-transform: uppercase;
  text-align: center;
}
.content__text-block_title_inner {
  text-transform: capitalize;
}
.content__text-block_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 730px;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 72px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  text-align: center;
}
.content__text-block_text_position {
  background-color: black;
  border-radius: 4px;
}
.content__text-block_arrow {
  position: absolute;
  top: calc(50% + 200px);
  left: 50%;
  transform: translate(-50%, -50%);
}

.top__logo {
  text-align: center;
}

.menu {
  display: flex;
  margin: 150px 0 271px 0;
  padding: 0 16px;
  background-color: black;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.menu__nav-list {
  display: flex;
  justify-content: space-evenly;
}
.menu__nav-item {
  margin: 0 16px;
}
.menu__nav-item_link {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  text-transform: uppercase;
}

.main__container {
  display: flex;
  flex-wrap: wrap;
}

.about__title {
  color: #000000;
  font-family: "Noto Serif";
  font-size: 48px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  flex-basis: 50%;
}
.about__description {
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 28.8px;
  text-align: left;
  flex-basis: 50%;
  margin-bottom: 105px;
}
.about__image {
  width: 100%;
}
.about__image-box {
  flex-basis: 50%;
}